// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = null // GeneLab Data Accession Number, e.g. GLDS-104
  ensemblVersion = null // ensembl version to use for reference genome, should work as far back as ensembl 80, TODO: replace with source non-specific name
  ref_source = null // designates the source of the reference files, e.g. ensembl, ensembl_plants

  /*
  Parameters that CAN be overwritten
  */
  runsheetPath = false
  referenceStorePath = './References' // dicates where the reference fasta, gtf, these are shared across processing runs
  derivedStorePath = './DerivedReferences' // dicates where the derived references files such as built index files are stored, shared across processing runs
  outputDir = "." // the location for the output from the pipeline (also includes raw data and metadata)
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hardlink
  /* Used to determine if a V&V task raises an error 
        (and halts the workflow). 
        80 is associated with the HALT flagcode. 
        81 allows the HALT flag code to not halt the workflow 
          but other more severe code (like runtime errors) will still cause a workflow halt
  */
  max_flag_code = 80

  // can be set to the path of a local gtf and fasta
  ref_fasta = null
  ref_gtf = null

  /*
  DEBUG parameters, should NOT be overwritten for production processing runs
  */
  genomeSubsample = false // Subsamples the reference fasta and gtf to a single sequence (often representing a single chromosome)
  truncateTo = false // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.
  limitSamplesTo = false // Limits the number of samples to process.  This currently is incompatible with running the DESeq2 task which requires all samples 
  stageLocal = true // Indicates if the raw read files should be staged for processing. Disabling is useful for checking the metadata staging without running any actual data processing.
  skipVV = false // if true, VV will not be performed
  force_single_end = false
  use_dummy_gene_counts = false // Uses random gene counts during DESEQ2 (This address testing when actual gene counts are near-zero/zero)

  multiqcConfig = "${projectDir}/config/modules/multiqc.config"

  quality {
    rseqc_sample_count = 15000000
  }

  // Print help menu
  // Should only be overridden at CLI
  help = false

  // For now, this particular is good for all organisms listed on the file.
  
  reference_table = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/1cda098ba95c4fdd58984139d3d69085d1c12797/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110/GL-DPPD-7110_annotations.csv"
}
