/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing RNA-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Local executor config file. Software must be available in PATH. 
----------------------------------------------------------------------------------------
*/

process {

    executor='local' // run using local backend (unless a process specifies otherwise)
    cpus   = { 2      * task.attempt } // Default
    memory = { 6.GB   * task.attempt } // Default

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:medium_cpu {
        cpus   = { 8     * task.attempt }
    }
    withLabel:medium_memory {
        memory = { 36.GB * task.attempt }
    }
    withLabel:high_memory {
        memory = { 72.GB * task.attempt }
    }
    withLabel:build_index {
        cpus   = { 16     * task.attempt }
        memory = { 72.GB * task.attempt }
    }
    withLabel:medium_cpu_memory {
        cpus   = { 16     * task.attempt }
        memory = { 32.GB * task.attempt }
    }
    withLabel:low_cpu_memory {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withLabel:low_cpu_med_memory {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB * task.attempt }
    }
}
//set the above to 6 cpu and 32GB memory
executor { // entire executor scope parameters. I.E. parameters that define how an entire executor should operate
    // Refers to jobs launched via the slurm executor 
    $local {
        queueSize = 32
    }
}