//******** Global parameters *****************//
params {

    publishDir_mode    = "link" // "copy", "link", "symlink"
    //-------- Parameters used to generate README.txt  ------------------//
    name               = "First M. Last"  // name of analyst
    email              = "NASA@nasa.gov" // email of analyst
    // Genelab pipeline document protocol id used to process the data
    protocol_id        = "GL-DPPD-7104-B"  
    GLDS_accession     =  "" // e.g "GLDS-487"
    OSD_accession      =  "" // e.g "OSD-487"
    assay_suffix       =  "_GLAmpSeq"
    readme             = "README${params.assay_suffix}.txt"
    processing_zip_file = "processing_info${params.assay_suffix}.zip"
    /* extra parameters and arguments to GL-gen-processed-amplicon-data-readme command
    run `GL-gen-processed-amplicon-readme --help` for extra parameters that can be set
     "--raw-reads-dir  '../Raw_Sequence_Data/' "
     "--primers-already-trimmed" for Amplicon: if primers were trimmed prior to analysis
     */ 
    readme_extra  =  "" 

    output_prefix = ""
    V_V_guidelines_link = "https://genelab-tools.arc.nasa.gov/confluence/pages/viewpage.action?pageId=2428598"
    // A comma separated list of files to find in processing_info.zip
    target_files         = "bin/,config/,envs/,modules/,main.nf,nextflow.config,unique-sample-IDs.txt"
    // Suffixes
    raw_suffix               = "_raw.fastq.gz"
    raw_R1_suffix            = "_R1_raw.fastq.gz"
    raw_R2_suffix            = "_R2_raw.fastq.gz"
    primer_trimmed_suffix    = "_trimmed.fastq.gz"
    primer_trimmed_R1_suffix = "_R1_trimmed.fastq.gz"
    primer_trimmed_R2_suffix = "_R2_trimmed.fastq.gz"
    filtered_suffix          = "_filtered.fastq.gz"
    filtered_R1_suffix       = "_R1_filtered.fastq.gz"
    filtered_R2_suffix       = "_R2_filtered.fastq.gz"
    /* Extra parameters and arguments to validate-processed-amplicon-data command
    run `validate-processed-amplicon-data --help` for extra parameters that can be set
     "--single-ended" if data are single-ended  
     "--primers-already-trimmed" if primers were trimmed prior to analysis
     "--R1-used-as-single-ended-data" if processing only R1 reads as single-end
     */
     validation_extra = ""

    /* Extra parameters and arguments to GL-gen-file-associations-table command
    run `GL-gen-amplicon-file-associations-table --help` for extra parameters that can be set
     "--single-ended" if data are single-ended  
     "--primers-already-trimmed" for Amplicon: if primers were trimmed prior to analysis
     "--R1-used-as-single-ended-data" if processing only R1 reads as single-end
     */
     file_association_extra = ""

    files {
        main              = "./main.nf"
        config            = "./nextflow.config" 
        samples           = "./unique-sample-IDs.txt"
        assay_table       = "" // e.g. "../GeneLab/a_GLDS-487_amplicon-sequencing_16s_illumina-1.txt"
        isa_zip           = "" // e.g. "../GeneLab/OSD-487_metadata_GLDS-487-ISA.zip"
        runsheet          = "" // e.g. "../GeneLab/GLfile.csv"
        software_versions = "../Metadata/software_versions.txt"
    }

    // Make sure you always end the directory names with a forward slash "/" and that if you use
    // relative paths, they are located in the run directory (./) or in its parent (../)
    directories {
        bin                     = "./bin/"
        envs                    = "./envs/"
        modules                 = "./modules/"        
        Output_dir              = "../Post_Processing/"
        config                  = "./config/"
        Raw_Sequence_Data       = "../Raw_Sequence_Data/"
        FastQC_Outputs          = "../workflow_output/FastQC_Outputs/"
        Trimmed_Sequence_Data   = "../workflow_output/Trimmed_Sequence_Data/"
        Filtered_Sequence_Data  = "../workflow_output/Filtered_Sequence_Data/"
        Final_Outputs           = "../workflow_output/Final_Outputs/"
    }

    conda{
          // Specify paths to existing conda environments
          // Leave as is if you'd like to create a new conda environment
          genelab = null          // "/path/to/envs/genelab-utils"
         }
}

// Used as base for clean file paths
params.baseDir = "${projectDir}"
parent_dir     = "${projectDir.getParent()}"
// Setting the default container engine as singularity
params.containerEngine = "singularity"
// Conda shouldn't be used by default except when using conda-based profiles
params.use_conda = false


/*******************************************************************************************************
*************************************** Workflow Profiles **********************************************
********************************************************************************************************/
profiles {
    slurm {
         process.executor     = 'slurm' 
     }

    conda {   
        conda.enabled         = true
        params.use_conda      = true               
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = "singularity/" // local singularity images location
        params.containerEngine = "singularity"
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        docker.userEmulation   = true
        params.containerEngine = "docker"
    }
}

// Maximum number of jobs to submit in parallel
executor.queueSize = 20

/************************************************************************************
*********** Tune process specific resources (cpu, container, memory etc.) ***********
*************************************************************************************/
process {
    //******************* Default process settings ************************//
    errorStrategy = "ignore"
    cpus = 2
    memory = '5 GB'
    cache = 'lenient'
    conda = {params.conda.genelab != null ? params.conda.genelab : "envs/genelab.yaml"}
    container = "olabiyi/genelab-utils:1.3.22"
    publishDir = [path: params.directories.Output_dir, mode: params.publishDir_mode]

    // Mount parent directory for processes that copy files
    withName: "PACKAGE_PROCESSING_INFO|GENERATE_MD5SUMS" {
        containerOptions = {params.containerEngine == "singularity" ? "-B ${parent_dir}" : "-v ${parent_dir}"}
    }
}


/******************************************************************************
**************************** Workflow Metadata ********************************
*******************************************************************************/
manifest {
    author = 'Olabiyi Aderemi Obayomi'
    homePage = 'https://github.com/nasa/GeneLab_Data_Processing/blob/master/Amplicon/'
    description = 'Amplicon Illumina post-processing workflow'
    mainScript = 'post_processing.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=24.04.4'
    version = '1.0.0'
}
