includeConfig 'config/default.config' // default config for RNASeq RCP workflow
profiles {
    // Default slurm based run mode
    // Ideally, one would fine tune the slurm config to their cluster
    slurm {
        includeConfig 'config/executor/default_slurm.config'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        // Address issue: https://github.com/nextflow-io/nextflow/issues/1210
        process {
          containerOptions = "--no-home"
          errorStrategy = { 
            task.exitStatus == 255 ? 'retry' : 'terminate' 
            }
        }
        includeConfig 'config/software/by_docker_image.config'
    }

    docker {
        singularity.enabled    = false
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        docker.userEmulation   = true
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        process {
          errorStrategy = { 
            [125,127].contains(task.exitStatus) ? 'retry' : 'terminate' 
            }
        }
        includeConfig 'config/software/by_docker_image.config'
    }



    test {
        includeConfig 'config/executor/default_CI_test.config'
    }
}

manifest {
    homePage = 'https://github.com/nasa/GeneLab_Data_Processing/tree/jonathan-branch/RNAseq'
    description = 'RNA-Seq Pipeline for Document GL-DPPD-7101-F'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=22.10.1'
    version = '1.0.4'
}

// Adapted from : https://github.com/nf-core/rnaseq/blob/master/nextflow.config
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outputDir}/${params.gldsAccession}/Resource_Usage/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outputDir}/${params.gldsAccession}/Resource_Usage/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outputDir}/${params.gldsAccession}/Resource_Usage/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = false // TODO: DISCUSS, setting up nextflow env with graphviz to output the svg diagram
    file    = "${params.outputDir}/${params.gldsAccession}/Resource_Usage/pipeline_dag_${trace_timestamp}.svg"
}
