nextflow.enable.moduleBinaries = true

params {

  /*
  Parameters that CAN be overwritten
  */
  accession = null
  runsheetPath = "" // Path to a runsheet file, if not supplied, the workflow will attempt to generate one from the OSDR
  isaArchivePath = "" // If a runsheet is not supplied, ISA.zip will be pulled from OSDR unless this is supplied
  
  api_url = "https://visualization.osdr.nasa.gov/biodata/api/v2/dataset/*/" // GeneLab API URL
  dp_tools_plugin = null

  biomart_attribute = "" // Must be supplied if runsheet 'Array design REF' column doesn't indicate it
  referenceStorePath = './References' // Path to custom annotation references
  array_annot_path = "${projectDir}/../examples/annotations/design_info.csv" // // Probe annotation for non-Biomart supported microarrays
  outdir = "${launchDir}"
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hard link
  help = false // display help menu and exit workflow program

  /*
  Parameters that SHOULD NOT be overwritten
  */
  annotation_file_path = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/GL_RefAnnotTable-A_1.1.0/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110-A/GL-DPPD-7110-A_annotations.csv"

  /*
  DEBUG related parameters, not likely useful in production
  */
  skipVV = false // if true, VV will not be performed
  skipDE = false // if true, DE will not be performed
  max_flag_code = 80 // Maximum flag value allowed, exceeding this value during V&V will cause the workflow to halt
}