// Config that specifies packaged conda yml files for each process

process {
    withName: 'TO_PRED|TO_BED' {
        conda = "${projectDir}/envs/ucsc_gtf_Pred_BED.yml"
    }

    withName: 'INFER_EXPERIMENT|SORT_INDEX_BAM|GENEBODY_COVERAGE|INNER_DISTANCE|READ_DISTRIBUTION' {
        conda = "${projectDir}/envs/samtools_rseqc.yml"
    }

    withName: 'DGE_BY_DESEQ2|QUANTIFY_GENES' {
        conda = "${projectDir}/envs/RNAseq_Rtools.yml"
    }

    withName: 'FASTQC' {
        conda = "${projectDir}/envs/fastqc.yml"
    }

    withName: 'MULTIQC' {
        conda = "${projectDir}/envs/multiqc.yml"
    }

    withName: 'TRIMGALORE' {
        conda = "${projectDir}/envs/trim_galore.yml"
    }

    withName: 'DOWNLOAD_GENOME_ANNOTATIONS|GENERATE_METASHEET' {
        conda = "${projectDir}/envs/download_tools.yml"
    }

    withName: 'RNASEQ_RUNSHEET_FROM_GLDS' {
        conda = "${projectDir}/envs/dp_tools.yml"
    }

    withName: 'BUILD_STAR|ALIGN_STAR' {
        conda = "${projectDir}/envs/star.yml"
    }

    withName: 'BUILD_RSEM|COUNT_ALIGNED' {
        conda = "${projectDir}/envs/rsem.yml"
    }

    withName: 'SUBSAMPLE_GENOME' {
        conda = "${projectDir}/envs/samtools.yml"
    }

    withName: 'POST_PROCESSING|SOFTWARE_VERSIONS' {
        conda = "${projectDir}/envs/genelab_utils.yml"
    }

    withLabel: 'VV' {
        conda = "${projectDir}/envs/dp_tools.yml"
    }
    
    withName: 'GET_MAX_READ_LENGTH|ASSESS_STRANDEDNESS' {
        conda = "${projectDir}/envs/python.yml"
    }

}
