// Config that specifies packaged conda yml files for each process
process {
    withName: 'TO_PRED' {
        container = "quay.io/biocontainers/ucsc-gtftogenepred:377--ha8a8165_5"
    }
    withName: 'TO_BED' {
        container = "quay.io/biocontainers/ucsc-genepredtobed:377--ha8a8165_5"
    }

    withName: 'INFER_EXPERIMENT|GENEBODY_COVERAGE|INNER_DISTANCE|READ_DISTRIBUTION' {
        container = "quay.io/biocontainers/rseqc:4.0.0--py37h8902056_2"
    }

    withName: 'SORT_INDEX_BAM|SUBSAMPLE_GENOME' {
        container = "quay.io/biocontainers/samtools:1.15--h1170115_1"
    }

    withName: 'DGE_BY_DESEQ2|QUANTIFY_RSEM_GENES|QUANTIFY_STAR_GENES' {
        // Note: image name isn't clear
        //   this actually includes a collection of R libraries that support all R scripts in the workflow, including the DESeq2 heavy one
        container = "quay.io/j_81/gl_images:MultiLibrary_DESeq2_1.0.8" 
    }

    withName: 'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    }

    withName: 'MULTIQC' {
        container = "quay.io/j_81/gl_multiqc:gl_multiqc"
    }

    withName: 'TRIMGALORE' {
        container = "quay.io/j_81/gl_images:gl_trim_galore"
    }

    withName: 'GENERATE_METASHEET' {
        container = "quay.io/j_81/gl_images:genelab_utils_v1.0"
    }

    withName: 'BUILD_STAR|ALIGN_STAR' {
        container = "quay.io/biocontainers/star:2.7.10a--h9ee0642_0"
    }

    withName: 'BUILD_RSEM|COUNT_ALIGNED' {
        container = "quay.io/biocontainers/rsem:1.3.1--pl526r341h4f16992_0"
    }

    withName: 'RNASEQ_RUNSHEET_FROM_GLDS|GENERATE_MD5SUMS|UPDATE_ISA_TABLES|SOFTWARE_VERSIONS' {
        container = "quay.io/j_81/dp_tools:1.3.4"
    }

    withLabel: 'VV' {
        container = "quay.io/j_81/dp_tools:1.3.4"
    }
    
    withName: 'GET_MAX_READ_LENGTH|ASSESS_STRANDEDNESS' {
        container = "python:3.8.13"
    }

}