params.single_end = false

params.specify_reads = true

params.sample_id_list = "/workspace/GeneLab_Data_Processing/rmv/unique_sample_ids.txt"

params.reads_dir = "$projectDir/example-reads_PE/"

params.PE_reads_suffix = "_R{1,2}.fastq.gz"


params.SE_reads_suffix = "_raw.fastq.gz"

params.host_db_name = 'kraken2-host-db'
params.host_db_path = "$projectDir/${params.host_db_name}"

params.num_threads = 2



params.kraken_output_dir = "$projectDir/kraken2-outputs"

docker {enabled = true}
params.kraken2container = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
