// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = 'GLDS-194' // GeneLab Data Accession Number, e.g. GLDS-104
  use_dummy_gene_counts = true // Use random gene counts for Deseq2, this addresses an issue where low/zero gene counts causes DGE analysis to fail

  /*
  DEBUG parameters, should NOT be overwritten for production processing runs
  */
  genomeSubsample = 19 // Subsamples the reference fasta and gtf to a single sequence (often representing a single chromosome)
  truncateTo = 300 // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.

}
