// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = 'GLDS-207' // GeneLab Data Accession Number, e.g. GLDS-104
  use_dummy_gene_counts = true // Use random gene counts for Deseq2, this addresses an issue where low/zero gene counts causes DGE analysis to fail

  truncateTo = 100 // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.

}
