// Should be loaded by every RNASeq process.
params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = 'CustomAnalysis' // GeneLab Data Accession Number, e.g. GLDS-104
  use_dummy_gene_counts = true // Use random gene counts for Deseq2, this addresses an issue where low/zero gene counts causes DGE analysis to fail
  
  /*
  Parameters that CAN be overwritten
  */
  runsheetPath = "${projectDir}/test_assets/CustomAnalysis_bulkRNASeq_v1_runsheet.csv"

  /*
  DEBUG parameters, should NOT be overwritten for production processing runs
  */
  genomeSubsample = 19 // Subsamples the reference fasta and gtf to a single sequence (often representing a single chromosome)
  truncateTo = 600 // Subsamples the raw reads files to the specified number of reads for EACH raw reads file.

}
