process {
    withName: 'PROCESS_AFFYMETRIX' {
        conda     = "${projectDir}/envs/R_microarray_affymetrix.yaml"
        container = "quay.io/nasa_genelab/gl-microarray:1.1.0"
    }
    withName: 'GET_ACCESSIONS|FETCH_ISA|ISA_TO_RUNSHEET|VV_AFFYMETRIX|GENERATE_MD5SUMS|UPDATE_ISA_TABLES|GENERATE_SOFTWARE_TABLE|GENERATE_PROTOCOL' {
        conda     = "${projectDir}/envs/dp_tools.yaml"
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }
}
