// Config that specifies packaged conda yml files for each process
process {
    withName: 'PROCESS_AFFYMETRIX' {
        container = "quay.io/j_81/gl_images:NF_AffyMP-A_1.0.0-RC7"
    }
    withName: 'RUNSHEET_FROM_GLDS|VV_AFFYMETRIX|GENERATE_MD5SUMS|UPDATE_ISA_TABLES|GENERATE_SOFTWARE_TABLE' {
        container = "quay.io/j_81/dp_tools:1.3.0"
    }
}
