params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = null // GeneLab Data Accession Number, e.g. GLDS-104


  /*
  Parameters that CAN be overwritten
  */
  runsheetPath = false


  /*
  Parameters that SHOULD NOT be overwritten
  */
  // For now, this particular is good for all organisms listed on the file.
  annotation_file_path = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/GL_RefAnnotTable_1.0.0/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110/GL-DPPD-7110_annotations.csv"

}