nextflow.enable.moduleBinaries = true

params {
  /*
  Parameters that MUST be supplied
  */
  gldsAccession = null // GeneLab Data Accession Number, e.g. GLDS-104
  osdAccession = null // OSD Data Accession Number, e.g. OSD-367


  /*
  Parameters that CAN be overwritten
  */
  runsheetPath = false
  biomart_attribute = false // Must be supplied if runsheet 'Array design REF' column doesn't indicate it
  outputDir = "." // the location for the output from the pipeline (also includes raw data and metadata)
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hardlink
  help = false // display help menu and exit workflow program

  /*
  Parameters that SHOULD NOT be overwritten
  */
  // For now, this particular is good for all organisms listed on the file.
  annotation_file_path = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/GL_RefAnnotTable_1.0.0/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110/GL-DPPD-7110_annotations.csv"

  /*
  DEBUG related parameters, not likely useful in production
  */
  skipVV = false // if true, VV will not be performed
  limit_biomart_query = false // if set to a value, that value is the maximum number of biomart probe IDs to query
  max_flag_code = 80 // Maximum flag value allowed, exceeding this value during V&V will cause the workflow to halt

}