/* Submitted as a small sbatch with 4 reserved cpus for nextflow process
 *   and very quick processes.  Also has ability to submit additional
 *   sbatch jobs for longer running, more cpus needed processes.
 *   This particular profile is designed to occupy no more than 112 cpus total
 */
process {
  executor='slurm'

  withLabel: networkBound {
    executor = 'local'
    maxForks = 1
  }

  withLabel: cpuBound {
    cpus=16

  }

  withLabel: maxCPU {
    cpus=28
  }

  withName: COUNT_ALIGNED {
    cpus=9 // Assessed to be near full speed in this case
  }

}

executor {
  $local {
      cpus = 4
  }

  $slurm {
      queueSize = 12
  }

}
