/* Submitted as a full 1 node sbatch with 28 cpus.
 * Everything runs as local executor.  Only the inital Nextflow program
 * needs to be launched using slurm (ideally by sbatch)
 */
process {
  executor='local'

  withLabel: networkBound {
    executor = 'local'
    maxForks = 1
  }

  withLabel: cpuBound {
    cpus=16
  }

  withLabel: maxCPU {
    cpus=28
  }

  withName: COUNT_ALIGNED {
    cpus=9 // Assessed to be near full speed in this case
  }

}
