// Everything is local, no time limits
// Not expected to working for production runs due to high RAM needs for processes like building indexes

process {
  executor='local'

  withLabel: big_mem {
    memory = 4.GB
  }
  withLabel: maxCPU {
    cpus = 2
  }

  // time='20m'

}

params {
  max_flag_code = 81 // HALT flag codes do not halt the workflow but should be manually assessed
}

  