// Config that specifies packaged conda yml files for each process
process {
     withName: 'GTF_TO_PRED' {
         // gtftogenepred 469 (08/27/2024); KENT UTILS 472 RELEASED 10/16/2024 BUT NOT AVAILABLE ON QUAY; no version reported 
         container = "quay.io/biocontainers/ucsc-gtftogenepred:469--h9b8f530_0"
     }
     withName: 'PRED_TO_BED' {
         // genepredtobed 469 (08/27/2024); KENT UTILS 472 RELEASED 10/16/2024 BUT NOT AVAILABLE ON QUAY; no version reported 
         container = "quay.io/biocontainers/ucsc-genepredtobed:469--h9b8f530_0"
     }

    withName: 'INFER_EXPERIMENT|GENEBODY_COVERAGE|INNER_DISTANCE|READ_DISTRIBUTION' {
        // rseqc 5.0.4 (10/03/2024)
        container = "quay.io/biocontainers/rseqc:5.0.4--pyhdfd78af_0"
    }

     withName: 'SUBSAMPLE_GENOME|SORT_AND_INDEX_BAM|SAM_TO_BAM|SAMTOOLS_STATS' {
         // samtools 1.2.1 (09/12/2024)
         container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
     }

    withName: 'QUANTIFY_STAR_GENES|QUANTIFY_RSEM_GENES|DGE_DESEQ2|ADD_GENE_ANNOTATIONS|EXTEND_DGE_TABLE' {
        // This image includes a collection of R libraries that support all R scripts in the workflow
        container = "quay.io/torres-alexis/gl_images:DESeq2_1.0.9" 
    }

     withName: 'FASTQC' {
         // fastqc 0.12.1 (03/01/2023)
         container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
     }

     withName: 'MULTIQC' {
         // MultiQC 1.26 (12/21/2024)
         container = "quay.io/nasa_genelab/dp_tools:1.3.5"
     }

     withName: 'TRIMGALORE' {
         // Trim Galore 0.6.10 (02/02/2023). pigz is built into the image.
         container = "quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0"
     }

    withName: 'BUILD_STAR_INDEX|ALIGN_STAR' {
        // STAR 2.7.11b (01/24/2024
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_1"
    }

    withName: 'BUILD_BOWTIE2_INDEX|ALIGN_BOWTIE2' {
        // Bowtie2 2.5.4 (12/10/2024)
        container = "quay.io/biocontainers/bowtie2:2.5.4--he96a11b_5"
    }

    withName: 'FEATURECOUNTS' {
        // featureCounts 2.0.8 (12/10/2024)
        container = "quay.io/biocontainers/subread:2.0.8--h577a1d6_0" 
    }

    withName: 'BUILD_RSEM_INDEX|COUNT_ALIGNED' {
        // RSEM (02/14/2020)
        // Known issue: version is printed as 1.31 https://github.com/deweylab/RSEM/issues/153 
        container = "quay.io/biocontainers/rsem:1.3.3--pl526ha52163a_0"
    }

   withName: 'GET_ACCESSIONS|FETCH_ISA|ISA_TO_RUNSHEET|RUNSHEET_FROM_ISA|GENERATE_MD5SUMS|SOFTWARE_VERSIONS|UPDATE_ISA_TABLES|PARSE_QC_METRICS|GTF_TO_BED' {
        container = "quay.io/nasa_genelab/dp_tools:1.3.5"
    }

    withLabel: 'VV' {
         container = "quay.io/nasa_genelab/dp_tools:1.3.5"
    }
    // withName: 'QUALIMAP_BAM_QC|QUALIMAP_RNASEQ_QC' {
         container = "quay.io/biocontainers/qualimap:2.3--hdfd78af_0"
    // }
    
    withName: 'GET_MAX_READ_LENGTH|ASSESS_STRANDEDNESS' {
    // Python 3.11.7 stable (12/5/2023)
        container = "quay.io/biocontainers/python:3.11" 
    }

    withName: 'FEATURECOUNTS' {
    // subread 2.0.8 (11/4/2024)
        container = "quay.io/biocontainers/subread:2.0.8--h577a1d6_0" 
    }
}