show_analysis_paths: False
show_analysis_time: False
module_order:
  - fastqc:
  - cutadapt
  - star
  - rseqc
  - qualimap
  - rsem

extra_fn_clean_exts:
  - '.read_distribution_out'
  - '.infer_experiment_out'
  - '.geneBodyCoverage.txt'
  - '_raw'
  - '_trimmed'
  - '_qualimap_bam_qc'
  - '_qualimap_rnaseq_qc'

use_filename_as_sample_name:
  - rseqc/gene_body_coverage

table_sample_merge:
  "Read 1":
    - "_R1"
    - type: regex
      pattern: "[_.-][rR]?1$"
  "Read 2":
    - "_R2"
    - type: regex
      pattern: "[_.-][rR]?2$"

