/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing RNA-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Config file for slurm executor / HPC use
----------------------------------------------------------------------------------------
*/

process {

    executor='slurm' // run using slurm backend (unless a process specifies otherwise), Nextflow will generate the sbatch script and submit for you
    cpus   = { 1      * task.attempt } // Default
    memory = { 2.GB   * task.attempt } // Default

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    cache = 'lenient'

    withName:UPDATE_ASSAY_TABLE {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
        errorStrategy = 'ignore'
    }
    // https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withName:'GET_ACCESSIONS|FETCH_ISA|ISA_TO_RUNSHEET|PARSE_ANNOTATIONS_TABLE|COPY_READS|DOWNLOAD_REFERENCES|DOWNLOAD_ERCC|CONCAT_ERCC|GTF_TO_PRED|PRED_TO_BED|GET_MAX_READ_LENGTH|INFER_EXPERIMENT|ASSESS_STRANDEDNESS|QUANTIFY_STAR_GENES|EXTRACT_RRNA|REMOVE_RRNA|QUANTIFY_RSEM_GENES|RAW_READS_MULTIQC|TRIMMED_READS_MULTIQC|ALIGN_MULTIQC|INFER_EXPERIMENT_MULTIQC|GENEBODY_COVERAGE_MULTIQC|INNER_DISTANCE_MULTIQC|READ_DISTRIBUTION_MULTIQC|COUNT_MULTIQC|ALL_MULTIQC|PARSE_QC_METRICS|VV_RAW_READS|VV_TRIMMED_READS|VV_STAR_ALIGNMENT|VV_RSEQC|VV_RSEM_COUNTS|VV_DGE_DESEQ2|VV_CONCAT_FILTER|SOFTWARE_VERSIONS|GENERATE_PROTOCOL' {
        cpus   = { 1    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName:READ_DISTRIBUTION {
        cpus   = { 1    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName:GENERATE_MD5SUMS {
        cpus   = { 1    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName:GENEBODY_COVERAGE {
        cpus   = { 2    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName:'RAW_FASTQC|TRIMMED_FASTQC' {
        cpus   = { 2     * task.attempt } 
        memory = { 4.GB  * task.attempt }
    }
    withName:INNER_DISTANCE {
        cpus   = { 2    * task.attempt  }
        memory = { 8.GB * task.attempt  }
    }
    withName:'SORT_AND_INDEX_BAM|DGE_DESEQ2|DGE_DESEQ2_RRNA_RM|ADD_GENE_ANNOTATIONS|ADD_GENE_ANNOTATIONS_RRNA_RM' {
        // DGE To do: Test resource usage w/ Wald parallelization enabled
        cpus   = { 4     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName:TRIMGALORE {
        // https://github.com/FelixKrueger/TrimGalore/blob/master/Docs/Trim_Galore_User_Guide.md
        cpus   = { 8    * task.attempt  }  
        memory = { 2.GB                 }
    }
    withName:COUNT_ALIGNED {
        cpus   = { 8                    }
        memory = { 8.GB * task.attempt  }
        errorStrategy = 'retry'
        maxRetries = 4
    }
    withName:ALIGN_STAR {
        cpus   = { 8                    }
        memory = { 72.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 1
    }
    withName:'BUILD_STAR_INDEX|BUILD_RSEM_INDEX' {
        cpus   = { 16                   }
        memory = { 60.GB * task.attempt }
    }
// rnaseq_microbes specific
    withName:'VV_BOWTIE2_ALIGNMENT|VV_FEATURECOUNTS|QUANTIFY_FEATURECOUNTS_GENES|REMOVE_RRNA_FEATURECOUNTS' {
        cpus   = { 1                    }
        memory = { 1.GB                 }
    }
    withName:GET_GTF_FEATURES {
        cpus   = { 1                    }
        memory = { 2.GB                 }
    }
    withName:BUILD_BOWTIE2_INDEX {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName:ALIGN_BOWTIE2 {
        cpus   = { 4                    }
        memory = { 16.GB * task.attempt }
    }
    withName:FEATURECOUNTS {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB  * task.attempt }
    }
//    Unused
//    withName:'QUALIMAP_BAM_QC|QUALIMAP_RNASEQ_QC' {
//        cpus   = { 8     * task.attempt }
//        memory = { 8.GB * task.attempt  }
//    }
//    withName:SAMTOOLS_STATS {
//        cpus   = { 1     * task.attempt }
//        memory = { 6.GB  * task.attempt }
//    }
}

// Add delay to processes with storedir; try to prevent error due to filesystem delay 
process {
    withName: 'DOWNLOAD_REFERENCES|DOWNLOAD_ERCC|SUBSAMPLE_GENOME|CONCAT_ERCC|GTF_TO_PRED|PRED_TO_BED|BUILD_STAR_INDEX|BUILD_RSEM_INDEX|BUILD_BOWTIE2_INDEX' {
        errorStrategy = 'retry'
        maxRetries = 3
        afterScript = 'sleep 120'
    }
}

// https://www.nextflow.io/docs/latest/reference/config.html 
executor {
    $slurm {
        queueSize = 32               // Set maximum queueSize
        pollInterval = '1 min'       // Set the time interval between process termination detection polling; default 5 sec
        queueStatInterval = '2 min'  // Set the time interval between queue status checks; default 1 min
        submitRateLimit = '1 sec'  // Set the job submission rate limit (1 per second); default unlimited
    }
}
