params { 
    is_single        = false // Boolean to set if the reads are single-end
    sample_id_list   = null // Path to Sample_ID list
    
    reads_dir        = null // Path to raw reads
    R1_suffix        = "_R1_raw.fastq.gz"
    R2_suffix        = "_R2_raw.fastq.gz"
    single_suffix    = "_raw.fastq.gz"

    host             = "human"
    hosts_table      = "$projectDir/assets/hosts.csv"
    ref_dbs_Dir      = null // Path to kraken2 database (or where it will be downloaded to if it's not set up yet), required

    outdir               = "${launchDir}" 
    reads_outdir         = "${params.outdir}/${params.host}-removed-reads" // Output directory to hold <host>-removed reads
    R1_out_suffix        = "_R1_HRremoved_raw.fastq.gz"
    R2_out_suffix        = "_R2_HRremoved_raw.fastq.gz"
    single_out_suffix    = "_HRremoved_raw.fastq.gz"    
}

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        params.containerEngine = "docker"
    }
    
    conda {
        conda.enabled          = true
        params.use_conda       = true
        conda.channels         = 'conda-forge,bioconda'
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        conda.channels         = 'conda-forge,bioconda'
        params.use_conda       = true
        conda.cacheDir         = 'conda/' // location of conda environments
        conda.createTimeout    = '2h'
    }

    slurm {  
        process.executor       = 'slurm'
    }

    local { 
        process.executor       = 'local' 
    }
}

process {

    cpus =   { 1    * task.attempt } // Default
    memory = { 2.GB * task.attempt } // Default

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish'}
    maxRetries    = 1
    maxErrors     = '-1'
    cache         = 'lenient'

    withName: 'KRAKEN2_DB' {
        cpus = 12
        memory = '64GB'
        time = '8h'
        container = "quay.io/biocontainers/kraken2:2.1.6--pl5321h077b44d_0"
        conda = "${projectDir}/envs/kraken2.yaml"
    }
    
    withName: 'KRAKEN_2' {
        cpus = 8
        memory = '8GB'
        container = "quay.io/biocontainers/kraken2:2.1.6--pl5321h077b44d_0"
        conda = "${projectDir}/envs/kraken2.yaml"
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/processing_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/processing_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/processing_info/execution_trace_${trace_timestamp}.txt"
}