on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

name: Check typos
jobs:
    codespell:
        name: Discover typos with codespell
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
        steps:
          - uses: actions/checkout@v3
          - uses: codespell-project/actions-codespell@master
            with:
              check_filenames: true
              skip: "*.yml,*.cff,*.js,*.lock"
              ignore_words_list: RNAseq
